In [5]:
import mysql.connector
from mysql.connector import Error

try:
    # Replace with your actual MySQL connection details
    conn = mysql.connector.connect(
        host="127.0.0.1",
        user="root",     # Replace with your MySQL username
        password="*******", # Replace with your MySQL password
        database="littlelemondb"  # Replace with your database name
    )
    
    if conn.is_connected():
        print("Connection successful!")
        cursor = conn.cursor()
        cursor.execute("SHOW DATABASES;")
        for db in cursor:
            print(db)
except Error as e:
    print(f"Error: {e}")
finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("Connection closed.")

Connection successful!
('gaspipeline',)
('gaspipelineg',)
('information_schema',)
('littlelemondb',)
('mulesoft_course',)
('mysql',)
('newlittlelemondb',)
('performance_schema',)
('sys',)
Connection closed.

In [13]:
import pandas as pd

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data.xlsx'
data = pd.read_excel(file_path)

# Display original column names
print("Original Column Names:", data.columns)

# Convert column names to camel case
data.columns = [
    'rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID', 'customerName', 'city', 'country',
    'postalCode', 'countryCode', 'cost', 'sales', 'quantity', 'discount', 'deliveryCost', 
    'courseName', 'cuisineName', 'starterName', 'desertName', 'drink', 'sides'
]

# Display new column names
print("Renamed Column Names:", data.columns)

# Save the DataFrame with new column names to a new Excel file
new_file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Renamed.xlsx'
data.to_excel(new_file_path, index=False)

print(f"Data saved to {new_file_path}")

Original Column Names: Index(['RowNumber', 'OrderID', 'OrderDate', 'DeliveryDate', 'CustomerID',
       'CustomerName', 'City', 'Country', 'PostalCode', 'CountryCode', ' Cost',
       'Sales', 'Quantity', 'Discount', 'DeliveryCost', 'CourseName',
       'CuisineName', 'StarterName', 'DesertName', 'Drink', 'Sides'],
      dtype='object')
Renamed Column Names: Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')
Data saved to C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Renamed.xlsx

# Adjusted Python Script for Data Insertion

In [16]:
import pandas as pd

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Renamed.xlsx'
data = pd.read_excel(file_path)

# Display the column names to verify
print("Column Names:", data.columns)

Column Names: Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')

In [17]:
import pandas as pd
import mysql.connector

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Renamed.xlsx'
data = pd.read_excel(file_path)

print(data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Function to insert data into Customers table
def insert_customers(data):
    customers = data[['customerID', 'customerName', 'city', 'country', 'postalCode', 'countryCode']].drop_duplicates()
    for index, row in customers.iterrows():
        cursor.execute("""
            INSERT INTO Customers (customerID, customerName, city, country, postalCode, countryCode)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE customerName=VALUES(customerName), city=VALUES(city), country=VALUES(country),
            postalCode=VALUES(postalCode), countryCode=VALUES(countryCode)
        """, (row['customerID'], row['customerName'], row['city'], row['country'], row['postalCode'], row['countryCode']))
    conn.commit()

# Function to insert data into Orders table
def insert_orders(data):
    orders = data[['orderID', 'orderDate', 'deliveryDate', 'customerID', 'cost', 'sales', 'quantity', 'discount', 'deliveryCost']].drop_duplicates()
    for index, row in orders.iterrows():
        cursor.execute("""
            INSERT INTO Orders (orderID, orderDate, deliveryDate, customerID, totalCost, sales, quantity, discount, deliveryCost)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE orderDate=VALUES(orderDate), deliveryDate=VALUES(deliveryDate), 
            customerID=VALUES(customerID), totalCost=VALUES(totalCost), sales=VALUES(sales), 
            quantity=VALUES(quantity), discount=VALUES(discount), deliveryCost=VALUES(deliveryCost)
        """, (row['orderID'], row['orderDate'], row['deliveryDate'], row['customerID'], row['cost'], 
              row['sales'], row['quantity'], row['discount'], row['deliveryCost']))
    conn.commit()

# Function to insert data into OrderItems table
def insert_order_items(data):
    for index, row in data.iterrows():
        cursor.execute("""
            INSERT INTO OrderItems (orderID, courseName, cuisineName, starterName, desertName, drink, sides, quantity, cost)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (row['orderID'], row['courseName'], row['cuisineName'], row['starterName'], 
              row['desertName'], row['drink'], row['sides'], row['quantity'], row['cost']))
    conn.commit()

# Function to insert data into MenuItems table
def insert_menu_items(data):
    menu_items = data[['courseName', 'cuisineName', 'starterName', 'desertName', 'drink', 'sides']].drop_duplicates()
    for index, row in menu_items.iterrows():
        cursor.execute("""
            INSERT INTO MenuItems (courseName, cuisineName, starterName, desertName, drink, sides)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE cuisineName=VALUES(cuisineName), starterName=VALUES(starterName), 
            desertName=VALUES(desertName), drink=VALUES(drink), sides=VALUES(sides)
        """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
    conn.commit()

# Function to insert data into Order_MenuItems table
def insert_order_menu_items(data):
    for index, row in data.iterrows():
        # Get the menuItemID from MenuItems table
        cursor.execute("""
            SELECT menuItemID FROM MenuItems 
            WHERE courseName=%s AND cuisineName=%s AND starterName=%s AND desertName=%s AND drink=%s AND sides=%s
        """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
        menu_item_id = cursor.fetchone()[0]

        cursor.execute("""
            INSERT INTO Order_MenuItems (orderID, menuItemID)
            VALUES (%s, %s)
            ON DUPLICATE KEY UPDATE menuItemID=VALUES(menuItemID)
        """, (row['orderID'], menu_item_id))
    conn.commit()

# Function to insert data into Bookings table
def insert_bookings(data):
    # Assuming bookingID and bookingDate are derived or provided elsewhere
    bookings = data[['customerID']].drop_duplicates()
    for index, row in bookings.iterrows():
        # Example bookingID and bookingDate generation (should be replaced with real data)
        booking_id = index + 1
        booking_date = '2023-01-01'  # Placeholder date, replace with actual booking date
        cursor.execute("""
            INSERT INTO Bookings (bookingID, bookingDate, customerID)
            VALUES (%s, %s, %s)
        """, (booking_id, booking_date, row['customerID']))
    conn.commit()

# Function to insert data into OrderDeliveryStatus table
def insert_order_delivery_status(data):
    delivery_status = data[['orderID', 'deliveryDate']].drop_duplicates()
    for index, row in delivery_status.iterrows():
        status = 'Delivered'  # Placeholder status, replace with actual status
        cursor.execute("""
            INSERT INTO OrderDeliveryStatus (orderID, status, deliveryDate)
            VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE status=VALUES(status), deliveryDate=VALUES(deliveryDate)
        """, (row['orderID'], status, row['deliveryDate']))
    conn.commit()

# Insert data into tables
insert_customers(data)
insert_orders(data)
insert_menu_items(data)
insert_order_items(data)
insert_order_menu_items(data)
insert_bookings(data)
insert_order_delivery_status(data)

# Close the connection
cursor.close()
conn.close()

Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')

In [18]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Load the original Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Renamed.xlsx'
data = pd.read_excel(file_path)

# Define hypothetical staff data
staff_data = {
    'staffID': [f'S{str(i).zfill(4)}' for i in range(1, 51)],
    'staffName': [f'Staff {i}' for i in range(1, 51)],
    'role': random.choices(['Manager', 'Chef', 'Waiter', 'Receptionist', 'Cleaner'], k=50),
    'department': random.choices(['Management', 'Kitchen', 'Service', 'Front Desk', 'Maintenance'], k=50),
    'hireDate': [datetime.now() - timedelta(days=random.randint(0, 365*5)) for _ in range(50)],
    'salary': [round(random.uniform(30000, 70000), 2) for _ in range(50)]
}

# Create a DataFrame for staff data
staff_df = pd.DataFrame(staff_data)

# Save the new DataFrame with hypothetical staff data to a new Excel file
new_file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_Staff.xlsx'
data_with_staff = pd.concat([data, staff_df], axis=1)

# Save the extended DataFrame
data_with_staff.to_excel(new_file_path, index=False)

print(f"Data with staff saved to {new_file_path}")

Data with staff saved to C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_Staff.xlsx

# Populae with Staff Name for new Staff Table

In [22]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Load the original Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_Staff.xlsx'
data = pd.read_excel(file_path)

# Define hypothetical staff data
staff_data = {
    'staffID': [f'S{str(i).zfill(4)}' for i in range(1, 51)],
    'staffName': [
        'John Doe', 'Jane Smith', 'Michael Johnson', 'Emily Davis', 'Daniel Brown', 'Jessica Wilson',
        'David Taylor', 'Sophia Martinez', 'Chris White', 'Amanda Thompson', 'Matthew Harris', 'Olivia Lee',
        'Joshua Walker', 'Isabella Young', 'Andrew Hall', 'Emma Allen', 'Ethan Wright', 'Ava King',
        'Alexander Scott', 'Mia Hill', 'Ryan Green', 'Chloe Adams', 'Benjamin Baker', 'Zoe Nelson',
        'Jacob Carter', 'Ella Perez', 'Jack Roberts', 'Lily Turner', 'Samuel Phillips', 'Grace Campbell',
        'Luke Parker', 'Victoria Evans', 'Dylan Edwards', 'Madison Collins', 'Caleb Stewart', 'Scarlett Sanchez',
        'Nathan Morris', 'Layla Rogers', 'Isaac Reed', 'Hannah Cook', 'Liam Morgan', 'Avery Bell', 'Owen Murphy',
        'Aria Bailey', 'Gabriel Rivera', 'Nora Cooper', 'Julian Richardson', 'Lillian Cox', 'Henry Howard',
        'Samantha Ward'
    ],
    'role': random.choices(['Manager', 'Chef', 'Waiter', 'Receptionist', 'Cleaner'], k=50),
    'department': random.choices(['Management', 'Kitchen', 'Service', 'Front Desk', 'Maintenance'], k=50),
    'hireDate': [datetime.now() - timedelta(days=random.randint(0, 365*5)) for _ in range(50)],
    'salary': [round(random.uniform(30000, 70000), 2) for _ in range(50)]
}

# Create a DataFrame for staff data
staff_df = pd.DataFrame(staff_data)

# Save the new DataFrame with hypothetical staff data to a new Excel file
new_file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_StaffName.xlsx'
data_with_staff = pd.concat([data, staff_df], axis=1)

# Save the extended DataFrame
data_with_staff.to_excel(new_file_path, index=False)

print(f"Data with staff saved to {new_file_path}")

Data with staff saved to C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_StaffName.xlsx

# Step 2: Create the Staff Table in the Database
Next, let's create the Staff table in the LittleLemonDBCP database.

# Step 3: Adjust Python Script to Populate the Staff Table
Now, we'll update the Python script to populate the Staff table with the hypothetical data.

In [27]:
import pandas as pd
import mysql.connector

# Load the extended Excel data with staff into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_with_StaffName.xlsx'
data = pd.read_excel(file_path)

# Display the column names to verify
print("Column Names:", data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="theGis@123", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Function to insert data into Staff table
def insert_staff(data):
    staff_data = data[['staffID', 'staffName', 'role', 'department', 'hireDate', 'salary']]
    for index, row in staff_data.iterrows():
        cursor.execute("""
            INSERT INTO Staff (staffID, staffName, role, department, hireDate, salary)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE staffName=VALUES(staffName), role=VALUES(role), 
            department=VALUES(department), hireDate=VALUES(hireDate), salary=VALUES(salary)
        """, (row['staffID'], row['staffName'], row['role'], row['department'], row['hireDate'], row['salary']))
    conn.commit()

# Insert data into Staff table
insert_staff(data)

# Close the connection
cursor.close()
conn.close()

Column Names: Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides', 'staffID',
       'staffName', 'role', 'department', 'hireDate', 'salary', 'staffID.1',
       'staffName.1', 'role.1', 'department.1', 'hireDate.1', 'salary.1'],
      dtype='object')

In [2]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(
        host='localhost',
        port=3306,
        database='littleLemondbcp',
        user='root',
        password='*******'
    )

    if connection.is_connected():
        print("Connection successful")
        cursor = connection.cursor()
        cursor.execute("SELECT DATABASE();")
        db_name = cursor.fetchone()
        print("You're connected to database:", db_name)

except Error as e:
    print("Error while connecting to MySQL", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connection successful
You're connected to database: ('littlelemondbcp',)
MySQL connection is closed

# I used This in MySQL Workbench before I proceed to Python code

In [10]:
# -- Switch to the appropriate database
# USE LittleLemonDBCP;

# -- Create the OrderDetails table
# CREATE TABLE IF NOT EXISTS OrderDetails (
#     rowNumber INT,
#     orderID VARCHAR(20),
#     orderDate DATE,
#     deliveryDate DATE,
#     customerID VARCHAR(20),
#     customerName VARCHAR(255),
#     city VARCHAR(255),
#     country VARCHAR(255),
#     postalCode VARCHAR(20),
#     countryCode VARCHAR(5),
#     cost DECIMAL(10, 2),
#     sales DECIMAL(10, 2),
#     quantity INT,
#     discount DECIMAL(10, 2),
#     deliveryCost DECIMAL(10, 2),
#     courseName VARCHAR(255),
#     cuisineName VARCHAR(255),
#     starterName VARCHAR(255),
#     desertName VARCHAR(255),
#     drink VARCHAR(255),
#     sides VARCHAR(255)
# );

# Next using Python

In [6]:
import pandas as pd

# Load the Excel file
# excel_file = 'LittleLemon_Data_Capstone.xlsx'
excel_file = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Capstone.xlsx'

df = pd.read_excel(excel_file)

# Save as CSV
csv_file = 'LittleLemon_Data_Capstone.csv'
df.to_csv(csv_file, index=False)

In [9]:
import mysql.connector
import pandas as pd

# Database connection details
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '*******',
    'database': 'littlelemondbcp'
}

# Connect to MySQL database
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

# Create table if it doesn't exist
create_table_query = """
CREATE TABLE IF NOT EXISTS OrderDetails (
    rowNumber INT,
    orderID VARCHAR(20),
    orderDate DATE,
    deliveryDate DATE,
    customerID VARCHAR(20),
    customerName VARCHAR(255),
    city VARCHAR(255),
    country VARCHAR(255),
    postalCode VARCHAR(20),
    countryCode VARCHAR(5),
    cost DECIMAL(10, 2),
    sales DECIMAL(10, 2),
    quantity INT,
    discount DECIMAL(10, 2),
    deliveryCost DECIMAL(10, 2),
    courseName VARCHAR(255),
    cuisineName VARCHAR(255),
    starterName VARCHAR(255),
    desertName VARCHAR(255),
    drink VARCHAR(255),
    sides VARCHAR(255)
);
"""
cursor.execute(create_table_query)

# Load CSV file into DataFrame
df = pd.read_csv('LittleLemon_Data_Capstone.csv')

# Iterate over DataFrame and insert data into MySQL table
for _, row in df.iterrows():
    insert_query = (
        "INSERT INTO OrderDetails (rowNumber, orderID, orderDate, deliveryDate, customerID, customerName, city, country, postalCode, countryCode, cost, sales, quantity, discount, deliveryCost, courseName, cuisineName, starterName, desertName, drink, sides) "
        "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    )
    cursor.execute(insert_query, (
        row['rowNumber'], row['orderID'], row['orderDate'], row['deliveryDate'], 
        row['customerID'], row['customerName'], row['city'], row['country'], 
        row['postalCode'], row['countryCode'], row['cost'], row['sales'], 
        row['quantity'], row['discount'], row['deliveryCost'], row['courseName'], 
        row['cuisineName'], row['starterName'], row['desertName'], row['drink'], 
        row['sides']
    ))

# Commit the transaction
connection.commit()

# Close the connection
cursor.close()
connection.close()

# Insert Data in Booking Table

In [12]:
import pandas as pd
import mysql.connector

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Capstone.xlsx'
data = pd.read_excel(file_path)

print(data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# # Function to insert data into Customers table
# def insert_customers(data):
#     customers = data[['customerID', 'customerName', 'city', 'country', 'postalCode', 'countryCode']].drop_duplicates()
#     for index, row in customers.iterrows():
#         cursor.execute("""
#             INSERT INTO Customers (customerID, customerName, city, country, postalCode, countryCode)
#             VALUES (%s, %s, %s, %s, %s, %s)
#             ON DUPLICATE KEY UPDATE customerName=VALUES(customerName), city=VALUES(city), country=VALUES(country),
#             postalCode=VALUES(postalCode), countryCode=VALUES(countryCode)
#         """, (row['customerID'], row['customerName'], row['city'], row['country'], row['postalCode'], row['countryCode']))
#     conn.commit()

# # Function to insert data into Orders table
# def insert_orders(data):
#     orders = data[['orderID', 'orderDate', 'deliveryDate', 'customerID', 'cost', 'sales', 'quantity', 'discount', 'deliveryCost']].drop_duplicates()
#     for index, row in orders.iterrows():
#         cursor.execute("""
#             INSERT INTO Orders (orderID, orderDate, deliveryDate, customerID, totalCost, sales, quantity, discount, deliveryCost)
#             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
#             ON DUPLICATE KEY UPDATE orderDate=VALUES(orderDate), deliveryDate=VALUES(deliveryDate), 
#             customerID=VALUES(customerID), totalCost=VALUES(totalCost), sales=VALUES(sales), 
#             quantity=VALUES(quantity), discount=VALUES(discount), deliveryCost=VALUES(deliveryCost)
#         """, (row['orderID'], row['orderDate'], row['deliveryDate'], row['customerID'], row['cost'], 
#               row['sales'], row['quantity'], row['discount'], row['deliveryCost']))
#     conn.commit()

# Function to insert data into OrderItems table
# def insert_order_items(data):
#     for index, row in data.iterrows():
#         cursor.execute("""
#             INSERT INTO OrderItems (orderID, courseName, cuisineName, starterName, desertName, drink, sides, quantity, cost)
#             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
#         """, (row['orderID'], row['courseName'], row['cuisineName'], row['starterName'], 
#               row['desertName'], row['drink'], row['sides'], row['quantity'], row['cost']))
#     conn.commit()

# Function to insert data into MenuItems table
# def insert_menu_items(data):
#     menu_items = data[['courseName', 'cuisineName', 'starterName', 'desertName', 'drink', 'sides']].drop_duplicates()
#     for index, row in menu_items.iterrows():
#         cursor.execute("""
#             INSERT INTO MenuItems (courseName, cuisineName, starterName, desertName, drink, sides)
#             VALUES (%s, %s, %s, %s, %s, %s)
#             ON DUPLICATE KEY UPDATE cuisineName=VALUES(cuisineName), starterName=VALUES(starterName), 
#             desertName=VALUES(desertName), drink=VALUES(drink), sides=VALUES(sides)
#         """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
#     conn.commit()

# Function to insert data into Order_MenuItems table
# def insert_order_menu_items(data):
#     for index, row in data.iterrows():
#         # Get the menuItemID from MenuItems table
#         cursor.execute("""
#             SELECT menuItemID FROM MenuItems 
#             WHERE courseName=%s AND cuisineName=%s AND starterName=%s AND desertName=%s AND drink=%s AND sides=%s
#         """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
#         menu_item_id = cursor.fetchone()[0]

#         cursor.execute("""
#             INSERT INTO Order_MenuItems (orderID, menuItemID)
#             VALUES (%s, %s)
#             ON DUPLICATE KEY UPDATE menuItemID=VALUES(menuItemID)
#         """, (row['orderID'], menu_item_id))
#     conn.commit()

# Function to insert data into Bookings table
def insert_bookings(data):
    # Assuming bookingID and bookingDate are derived or provided elsewhere
    bookings = data[['customerID']].drop_duplicates()
    for index, row in bookings.iterrows():
        # Example bookingID and bookingDate generation (should be replaced with real data)
        booking_id = index + 1
        booking_date = '2023-01-01'  # Placeholder date, replace with actual booking date
        cursor.execute("""
            INSERT INTO Bookings (bookingID, bookingDate, customerID)
            VALUES (%s, %s, %s)
        """, (booking_id, booking_date, row['customerID']))
    conn.commit()

# # Function to insert data into OrderDeliveryStatus table
# def insert_order_delivery_status(data):
#     delivery_status = data[['orderID', 'deliveryDate']].drop_duplicates()
#     for index, row in delivery_status.iterrows():
#         status = 'Delivered'  # Placeholder status, replace with actual status
#         cursor.execute("""
#             INSERT INTO OrderDeliveryStatus (orderID, status, deliveryDate)
#             VALUES (%s, %s, %s)
#             ON DUPLICATE KEY UPDATE status=VALUES(status), deliveryDate=VALUES(deliveryDate)
#         """, (row['orderID'], status, row['deliveryDate']))
#     conn.commit()

# Insert data into tables
# insert_customers(data)
# insert_orders(data)
# insert_menu_items(data)
# insert_order_items(data)
# insert_order_menu_items(data)
insert_bookings(data)
# insert_order_delivery_status(data)

# Close the connection
cursor.close()
conn.close()

Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')

In [ ]:
import pandas as pd
import mysql.connector

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Capstone.xlsx'
data = pd.read_excel(file_path)

print(data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Function to insert data into Customers table
def insert_customers(data):
    customers = data[['customerID', 'customerName', 'city', 'country', 'postalCode', 'countryCode']].drop_duplicates()
    for index, row in customers.iterrows():
        cursor.execute("""
            INSERT INTO Customers (customerID, customerName, city, country, postalCode, countryCode)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE customerName=VALUES(customerName), city=VALUES(city), country=VALUES(country),
            postalCode=VALUES(postalCode), countryCode=VALUES(countryCode)
        """, (row['customerID'], row['customerName'], row['city'], row['country'], row['postalCode'], row['countryCode']))
    conn.commit()

# Function to insert data into Orders table
def insert_orders(data):
    orders = data[['orderID', 'orderDate', 'deliveryDate', 'customerID', 'cost', 'sales', 'quantity', 'discount', 'deliveryCost']].drop_duplicates()
    for index, row in orders.iterrows():
        cursor.execute("""
            INSERT INTO Orders (orderID, orderDate, deliveryDate, customerID, totalCost, sales, quantity, discount, deliveryCost)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE orderDate=VALUES(orderDate), deliveryDate=VALUES(deliveryDate), 
            customerID=VALUES(customerID), totalCost=VALUES(totalCost), sales=VALUES(sales), 
            quantity=VALUES(quantity), discount=VALUES(discount), deliveryCost=VALUES(deliveryCost)
        """, (row['orderID'], row['orderDate'], row['deliveryDate'], row['customerID'], row['cost'], 
              row['sales'], row['quantity'], row['discount'], row['deliveryCost']))
    conn.commit()

# Function to insert data into OrderItems table
def insert_order_items(data):
    for index, row in data.iterrows():
        cursor.execute("""
            INSERT INTO OrderItems (orderID, courseName, cuisineName, starterName, desertName, drink, sides, quantity, cost)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """, (row['orderID'], row['courseName'], row['cuisineName'], row['starterName'], 
              row['desertName'], row['drink'], row['sides'], row['quantity'], row['cost']))
    conn.commit()

# Function to insert data into MenuItems table
def insert_menu_items(data):
    menu_items = data[['courseName', 'cuisineName', 'starterName', 'desertName', 'drink', 'sides']].drop_duplicates()
    for index, row in menu_items.iterrows():
        cursor.execute("""
            INSERT INTO MenuItems (courseName, cuisineName, starterName, desertName, drink, sides)
            VALUES (%s, %s, %s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE cuisineName=VALUES(cuisineName), starterName=VALUES(starterName), 
            desertName=VALUES(desertName), drink=VALUES(drink), sides=VALUES(sides)
        """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
    conn.commit()

# Function to insert data into Order_MenuItems table
def insert_order_menu_items(data):
    for index, row in data.iterrows():
        # Get the menuItemID from MenuItems table
        cursor.execute("""
            SELECT menuItemID FROM MenuItems 
            WHERE courseName=%s AND cuisineName=%s AND starterName=%s AND desertName=%s AND drink=%s AND sides=%s
        """, (row['courseName'], row['cuisineName'], row['starterName'], row['desertName'], row['drink'], row['sides']))
        menu_item_id = cursor.fetchone()[0]

        cursor.execute("""
            INSERT INTO Order_MenuItems (orderID, menuItemID)
            VALUES (%s, %s)
            ON DUPLICATE KEY UPDATE menuItemID=VALUES(menuItemID)
        """, (row['orderID'], menu_item_id))
    conn.commit()

# Function to insert data into Bookings table
def insert_bookings(data):
    # Assuming bookingID and bookingDate are derived or provided elsewhere
    bookings = data[['customerID']].drop_duplicates()
    for index, row in bookings.iterrows():
        # Example bookingID and bookingDate generation (should be replaced with real data)
        booking_id = index + 1
        booking_date = '2023-01-01'  # Placeholder date, replace with actual booking date
        cursor.execute("""
            INSERT INTO Bookings (bookingID, bookingDate, customerID)
            VALUES (%s, %s, %s)
        """, (booking_id, booking_date, row['customerID']))
    conn.commit()

# Function to insert data into OrderDeliveryStatus table
def insert_order_delivery_status(data):
    delivery_status = data[['orderID', 'deliveryDate']].drop_duplicates()
    for index, row in delivery_status.iterrows():
        status = 'Delivered'  # Placeholder status, replace with actual status
        cursor.execute("""
            INSERT INTO OrderDeliveryStatus (orderID, status, deliveryDate)
            VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE status=VALUES(status), deliveryDate=VALUES(deliveryDate)
        """, (row['orderID'], status, row['deliveryDate']))
    conn.commit()

# Insert data into tables
insert_customers(data)
insert_orders(data)
insert_menu_items(data)
insert_order_items(data)
insert_order_menu_items(data)
insert_bookings(data)
insert_order_delivery_status(data)

# Close the connection
cursor.close()
conn.close()

In [13]:
import pandas as pd
import mysql.connector

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Capstone.xlsx'
data = pd.read_excel(file_path)

# Print the columns to understand the structure
print(data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Function to insert data into Bookings table
def insert_bookings(data):
    # Assuming bookingID and bookingDate are derived or provided elsewhere
    bookings = data[['customerID', 'orderDate']].drop_duplicates()
    for index, row in bookings.iterrows():
        # Example bookingID and bookingDate generation (should be replaced with real data)
        booking_id = index + 1
        booking_date = row['orderDate']  # Use 'orderDate' as 'bookingDate'
        cursor.execute("""
            INSERT INTO Bookings (bookingID, bookingDate, customerID)
            VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE bookingDate=VALUES(bookingDate), customerID=VALUES(customerID)
        """, (booking_id, booking_date, row['customerID']))
    conn.commit()

# Insert data into Bookings table
insert_bookings(data)

# Close the connection
cursor.close()
conn.close()

Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')

In [20]:
import pandas as pd
import mysql.connector

# Load the Excel data into a DataFrame
file_path = 'C:/Users/Owner/Documents/Meta Database Engineer Course/db-capstone-project2024/Week 4/LittleLemon_Data_Capstone.xlsx'
data = pd.read_excel(file_path)

# Print the columns to understand the structure
print(data.columns)

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Function to insert data into Bookings table
def insert_bookings(data):
    # Extract the relevant columns for bookings
    bookings = data[['customerID', 'orderDate']].drop_duplicates()
    for index, row in bookings.iterrows():
        # Example bookingID and bookingDate generation (should be replaced with real data)
        booking_id = index + 1
        booking_date = row['orderDate']  # Use 'orderDate' as 'bookingDate'
        cursor.execute("""
            INSERT INTO Bookings (bookingID, bookingDate, customerID)
            VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE bookingDate=VALUES(bookingDate), customerID=VALUES(customerID)
        """, (booking_id, booking_date, row['customerID']))
    conn.commit()

# Insert data into Bookings table
insert_bookings(data)

# Close the connection
cursor.close()
conn.close()

Index(['rowNumber', 'orderID', 'orderDate', 'deliveryDate', 'customerID',
       'customerName', 'city', 'country', 'postalCode', 'countryCode', 'cost',
       'sales', 'quantity', 'discount', 'deliveryCost', 'courseName',
       'cuisineName', 'starterName', 'desertName', 'drink', 'sides'],
      dtype='object')

In [21]:
import mysql.connector

# Connect to the database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",     # Replace with your MySQL username
    password="*******", # Replace with your MySQL password
    database="LittleLemonDBCP"  # Replace with your database name
)
cursor = conn.cursor()

# Query to check data in Bookings table
query = "SELECT * FROM Bookings"
cursor.execute(query)

# Fetch all rows from the executed query
rows = cursor.fetchall()

# Check if the table is populated
if rows:
    print("Bookings table is populated with the following data:")
    for row in rows:
        print(row)
else:
    print("Bookings table is empty.")

# Close the connection
cursor.close()
conn.close()

Bookings table is populated with the following data:
(1, datetime.date(2020, 6, 15), '72-055-7985')
(2, datetime.date(2020, 8, 25), '65-353-0657')
(3, datetime.date(2021, 8, 17), '90-876-6799')
(4, datetime.date(2021, 8, 14), '73-873-4827')
(5, datetime.date(2020, 12, 20), '80-927-5246')
(6, datetime.date(2020, 3, 1), '77-111-2020')
(7, datetime.date(2021, 10, 4), '10-341-4047')
(8, datetime.date(2021, 10, 9), '83-800-4789')
(9, datetime.date(2021, 12, 27), '89-896-4591')
(10, datetime.date(2020, 3, 5), '21-282-1343')
(11, datetime.date(2019, 7, 20), '04-699-2162')
(12, datetime.date(2022, 6, 26), '72-013-3529')
(13, datetime.date(2020, 12, 3), '09-688-8521')
(14, datetime.date(2022, 4, 13), '08-390-4691')
(15, datetime.date(2020, 8, 22), '56-479-7571')
(16, datetime.date(2020, 9, 30), '75-558-6855')
(17, datetime.date(2019, 9, 4), '09-710-7305')
(18, datetime.date(2021, 4, 29), '81-678-3234')
(19, datetime.date(2020, 4, 14), '83-988-2186')
(20, datetime.date(2020, 4, 24), '66-386-4902')
(21, datetime.date(2019, 9, 30), '37-285-0504')
(22, datetime.date(2021, 6, 8), '07-111-7669')
(23, datetime.date(2020, 6, 1), '84-136-7752')
(24, datetime.date(2021, 11, 3), '72-417-9175')
(25, datetime.date(2020, 2, 2), '79-082-9805')
(26, datetime.date(2019, 9, 13), '24-545-1124')
(27, datetime.date(2020, 8, 25), '84-300-6499')
(28, datetime.date(2021, 4, 22), '93-913-0650')
(29, datetime.date(2019, 8, 9), '91-251-5721')
(30, datetime.date(2022, 4, 12), '04-960-9928')
(31, datetime.date(2022, 1, 28), '35-042-6593')
(32, datetime.date(2021, 4, 2), '45-879-0850')
(33, datetime.date(2021, 11, 23), '78-492-1244')
(34, datetime.date(2022, 4, 5), '87-172-1004')
(35, datetime.date(2019, 8, 10), '55-516-2272')
(36, datetime.date(2022, 2, 27), '79-227-9821')
(37, datetime.date(2019, 8, 8), '87-811-2475')
(38, datetime.date(2022, 5, 4), '97-003-2495')
(39, datetime.date(2020, 10, 5), '26-631-4044')
(40, datetime.date(2021, 1, 27), '07-925-9556')
(41, datetime.date(2019, 8, 14), '18-296-6063')
(42, datetime.date(2021, 11, 25), '26-237-6257')
(43, datetime.date(2019, 9, 29), '77-064-4656')
(44, datetime.date(2022, 4, 13), '29-631-4932')
(45, datetime.date(2020, 12, 10), '04-268-9065')
(46, datetime.date(2022, 11, 19), '06-545-4037')
(47, datetime.date(2021, 8, 16), '82-278-5664')
(48, datetime.date(2021, 6, 13), '19-112-3031')
(49, datetime.date(2021, 2, 2), '58-749-9630')
(50, datetime.date(2022, 3, 7), '60-238-7059')